<div class="player1-roster-header">
    <p>$$$</p>
    <button class="submit-btn">submit</button>
</div>

<div class="position-group first-group">
    <div class="label">QB <span class="pick-x">pick 1</span></div>
    <div class="position-cards qbs">
       <img class="player-img" src="/assets/background_img_3.jpg">
       <div class="player-name">James Dillon<br><span class="player-stats">30,000 pass yds | 155 tds | 1 mvp</span></div>
       <div class="player-price">$8500</div>
    </div>
    <div class="position-cards qbs">
       <img class="player-img">
       <div class="player-name">Rick Jackson<br><span class="player-stats">15,000 pass yds | 100 tds | 3 Pro Bowls</span></div>
       <div class="player-price">$6100</div>
    </div>
</div>
<div class="position-group">
    <div class="label">RB <span class="pick-x">pick 2</span></div>
    <div class="position-cards rbs">
       <img class="player-img">
       <div class="player-name"></div>
       <div class="player-price"></div>
       <div class="player-stats"></div>   
    </div>
</div>
<div class="position-group">
    <div class="label">WR <span class="pick-x">pick 2</span></div>
    <div class="position-cards wrs">
       <img class="player-img">
       <div class="player-name"></div>
       <div class="player-price"></div>
       <div class="player-stats"></div>
    </div>
</div>
<div class="position-group">
    <div class="label">FLEX <span class="pick-x">pick 1</span></div>
    <div class="position-cards flexes">
       <img class="player-img">
       <div class="player-name"></div>
       <div class="player-price"></div>
       <div class="player-stats"></div>
    </div>
</div>
<div class="position-group">
    <div class="label">TE <span class="pick-x">pick 1</span></div>
    <div class="position-cards tes">
       <img class="player-img">
       <div class="player-name"></div>
       <div class="player-price"></div>
       <div class="player-stats"></div>
    </div>
</div>
<div class="position-group">
    <div class="label">K <span class="pick-x">pick 1</span></div>
    <div class="position-cards ks">
       <img class="player-img">
       <div class="player-name"></div>
       <div class="player-price"></div>
       <div class="player-stats"></div> 
    </div>
</div>
