<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.css" />
<script src="bower_components/angular-odometer/dist/angular-odometer.js"></script>
<script src="bower_components/odometer/odometer.min.js"></script>


<header id="app-header">
    <img id="mobile-logo" src="assets/logo.png">

    <nav id="nav-items">
        <a routerLink="player1">PlayerOne</a>
        <a routerLink="player2">PlayerTwo</a>
    </nav>
</header>
<div class="mobile-roster-container">
    <router-outlet></router-outlet>
</div>




<ng-template #content let-c="close" let-d="dismiss">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <div class="modal-header" id="modal-header">
        <h4 class="modal-title" id="modal-title" text-align="center">Player {{winner}} Wins!</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body" id="modal-body">
        <img src="https://media.giphy.com/media/QxLyTJ1IxPd3E1mzLP/giphy.gif">
    </div>
</ng-template>


<div cdkDropListGroup id="drag-drop-container">


    <div id="player1container">
        <img id="logo" src="assets/logo.png" width="100px" height="100px">
        <div id="user-names-parent">
            <p class="user-names">PLAYER ONE</p>
        </div>

        <mat-accordion class="player1-list">
            <mat-expansion-panel class="example-box" *ngFor="let p of teamPlayer1" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <img class="player-img" src="{{p.mugshot}}">
                        <p>{{p.position}} {{p.firstName}} {{p.lastName}}</p>
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent id="matExpansionPanelContent">
                    <ul id=stat-list>
                        <li>{{p.careerStat1}}</li>
                        <li>{{p.careerStat2}}</li>
                        <li>{{p.careerStat3}}</li>
                        <li>{{p.careerBlurb}}</li>
                    </ul>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>


    </div>







    <div id="players-container">

        <div id="space"></div>


        <div id="user-names-parent">
            <div id="players-list-spacing"></div>
            <p id="draftPosition" class="user-names">{{positionToBeDrafted}}</p>
        </div>
        <mat-accordion class="example-list" id="players-list">.
            <ng-container *ngFor="let p of availablePlayers">
                <mat-expansion-panel *ngIf="p.position === positionAllowedToBeDrafted || p.position === flexPosition || p.position === flexPosition2" class="example-box" hideToggle (click)="playerSelected(p)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <button *ngIf="p.playerId === selectedPlayer.playerId && playerOneDrafted === false" id="player-one-draft-button" class="draft-button" (click)="player1Drafted($event)" style="position: static"><i class="material-icons">
                                    arrow_back
                                    </i></button>
                            <img class="player-img" src="{{p.picture}}">
                            <p>{{p.position}} {{p.firstName}} {{p.lastName}} {{p.playerCost | currency}}</p>
                        </mat-panel-title>
                        <mat-panel-description>
                            <button *ngIf="p.playerId === selectedPlayer.playerId && playerTwoDrafted === false" id="player-two-draft-button" class="draft-button" (click)="player2Drafted()" style="position: static"><i class="material-icons">
                                    arrow_forward
                                    </i></button>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent id="matExpansionPanelContent">
                        <ul id=stat-list>
                            <li>{{p.careerStat1}}</li>
                            <li>{{p.careerStat2}}</li>
                            <li>{{p.careerStat3}}</li>
                            <li>{{p.careerBlurb}}</li>
                        </ul>
                    </ng-template>
                </mat-expansion-panel>
            </ng-container>
        </mat-accordion>




    </div>





    <div id="player2container">
        <div id="space"></div>
        <div id="user-names-parent">
            <p class="user-names" id="player-two-user-name">PLAYER TWO</p>
        </div>


        <mat-accordion class="player2-list">
            <mat-expansion-panel class="example-box" *ngFor="let p of teamPlayer2" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <img class="player-img" src="{{p.mugshot}}">
                        <p>{{p.position}} {{p.firstName}} {{p.lastName}}</p>

                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent id="matExpansionPanelContent">
                    <ul id=stat-list>
                        <li>{{p.careerStat1}}</li>
                        <li>{{p.careerStat2}}</li>
                        <li>{{p.careerStat3}}</li>
                        <li>{{p.careerBlurb}}</li>
                    </ul>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>



    </div>

    <div id="draft-salary-container">
        <div id="salary-player-1">
            <link rel="stylesheet" href="/assets/odometer-0.4.6/themes/odometer-theme-default.css" />

            <p id="salary">
                $
                <ng2-odometer id="salary" [number]="playerOneSalary" [theme]="'plaza'">{{playerOneSalary | currency}}</ng2-odometer>
            </p>
        </div>

        <div id="draft-button-container">

            <button id="draft-button" class="draft-button" (click)="open(content)">DRAFT!</button>


        </div>


        <div id="salary-player-2">


            <p id="salary">$
                <ng2-odometer id="salary" [number]="playerTwoSalary" [theme]="'plaza'">{{playerTwoSalary | currency}}</ng2-odometer>
            </p>
        </div>



    </div>




</div>