#drag-drop-container {
    display: none;
}

#app-header {
    position: fixed;
    top: 0px;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: black;
    width: 100%;
}

#mobile-logo {
    height: 50px;
    width: 50px;
}

#desktop-player-card {
    display: flex;
    justify-content: space-between;
}

#logo {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 30px;
}

#nav-items {
    margin-left: auto;
    padding-top: 20px;
    padding-right: 5px;
    font-family: 'Sporter';
}

a {
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-left: 5px;
}

a:hover {
    color: #F900F8;
}

.mobile-roster-container {
    height: 85%;
    margin-block-start: 100px;
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {
    #container {
        display: flex;
    }
    #app-header {
        display: none;
    }
    #stat-list {
        list-style-type: none;
        display: flex;
        padding: 0 0 0 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: .75em;
    }
    #matExpansionPanelContent {
        display: block;
    }
    #player2container,
    #player1container,
    #playerscontainer {
        display: flex;
        height: 80%;
        overflow-y: scroll;
    }
    #player2container {
        margin-right: 0px;
    }
    .mobile-roster-container {
        display: none;
    }
    #logo {
        margin: 0 0 0 0;
    }
    #draft-salary-container {
        width: 100%;
        height: auto;
        display: flex;
        align-self: flex-end;
        float: bottom;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        background-color: #EFF8FF;
    }
    #player-one-draft-button,
    #player-two-draft-button {
        border-radius: 25px;
        background-color: white;
        width: 40px;
        height: 40px;
    }
    .draft-button {
        color: #648BAF;
        margin-left: 50px;
        background-color: #EFF8FF;
        border-style: solid;
        border-color: #648BAF;
        border-width: 1px;
        width: 80%;
        height: 40px;
        cursor: pointer;
    }
    .user-names {
        text-align: center;
        width: 100%;
        height: 30px;
        margin: 0 0 0 0;
        color: white;
        font-family: 'Sporter';
        font-size: 3em;
    }
    /* #player-two-user-name {
        margin-top: 20px;
        margin-bottom: 30px;
    } */
    #space {
        height: 100px;
        width: 100px;
    }
    #joint-position-player {
        width: 100%;
        flex-direction: row;
        height: auto;
        margin-top: 12px;
        display: inline-flex;
        vertical-align: top;
    }
    #user-names-parent {
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }
    #players-container {
        order: 2;
        width: 33%;
    }
    #players-container-child {
        width: 100%;
        overflow: scroll;
    }
    #player1container {
        order: 2;
        width: 33%;
        flex-direction: column;
    }
    #player2container {
        order: 2;
        width: 33%;
        flex-direction: column;
    }
    #K {
        border-bottom: none;
    }
    li {
        padding-top: 2.5px;
        padding-bottom: 2.5px;
    }
    #player-list {
        width: 100%;
    }
    #player1-list {
        margin-top: 5px;
        height: 800px;
        background-size: 356.00px 356.00px;
        overflow-y: scroll;
        background-color: rgba(255, 255, 255, 0.5);
    }
    #player2-list {
        margin-top: 5px;
        height: 800px;
        background-size: 356.00px 356.00px;
        overflow-y: scroll;
        background-color: rgba(255, 255, 255, 0.5);
    }
    #players-list {
        margin-top: 5px;
        height: 800px;
        background-size: 356.00px 356.00px;
        overflow-y: scroll;
        background-color: rgba(255, 255, 255, 0.5);
    }
    #drag-drop-container {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        /* background: url(/assets/background_img_5.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; */
    }
    .player-container {
        width: auto;
        height: auto;
        display: inline-block;
        vertical-align: top;
    }
    #player-space-container {
        height: 550px;
        margin-bottom: 150px;
    }
    #logo-container {
        height: 100px;
        width: 100px;
        margin-top: 0px;
        margin-left: -90px;
    }
    .player-img {
        border: 2px solid #648BAF;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: 0.95em 0.55em 0.25em 0.55em;
    }
    .example-list {
        border: solid 1px #ccc;
        min-height: 60px;
        background: rgba(255, 255, 255, 0.0);
        border-radius: 4px;
        display: block;
        height: auto;
        width: 100%;
        justify-content: center;
    }
    .example-box {
        padding: 20px 10px;
        border-bottom: solid 1px #ccc;
        color: black;
        background-color: rgba(255, 255, 255, .85);
        display: flex;
        flex-direction: column;
        z-index: 5;
        overflow: visible;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        cursor: pointer;
    }
    #player-salary-title {
        font-size: .25em;
        width: 30%;
        margin: 0 0 0 0;
    }
    #salary {
        width: 100%;
        margin: 0 0 0 0;
        margin-left: 20px;
        font-family: "Helvetica Neue";
        font-weight: 100;
        padding: 0 0.12em;
        line-height: 1.2em;
        font-size: 1.2em;
    }
    #salary-player-1 {
        margin-left: 50px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 33%;
        height: 100%;
        order: 1;
        font-family: 'StripesCaps';
        font-size: 2em;
        color: #648BAF;
        background-color: #EFF8FF;
    }
    #salary-player-2 {
        margin-left: 60px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        height: 100%;
        width: 33%;
        order: 3;
        font-family: 'StripesCaps';
        font-size: 2em;
        color: #648BAF;
        background-color: #EFF8FF;
    }
    #draftPosition {
        margin-bottom: 15px;
    }
    #draft-button-container {
        order: 2;
        display: flex;
        justify-content: space-between;
        width: 33%;
        height: 100%;
        color: #648BAF;
        background-color: #EFF8FF;
        margin-left: 15px;
        margin-right: 15px;
        align-items: baseline;
        padding-top: 17px;
    }
    #dollar-sign {
        font-size: 1em;
    }
    #modal-title,
    #modal-body {
        justify-content: center;
    }
}