@media only screen and (max-width: 768px) {
    #player2container,
    #player1container,
    #playerscontainer {
        display: flex;
        height: auto;
    }
    .user-names {
        text-align: center;
        width: 100%;
        height: 30px;
    }
    #joint-position-player {
        width: 100%;
        flex-direction: row;
        height: auto;
        display: inline-flex;
        vertical-align: top;
    }
    #user-names-parent {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30px;
    }
    #players-container {
        order: 1;
        width: 100%;
    }
    #players-container-child {
        width: 100%;
        overflow: scroll;
    }
    #player1container {
        order: 2;
        width: 50%;
        flex-direction: column;
    }
    #player2container {
        order: 2;
        width: 50%;
        flex-direction: column;
    }
    #salary {
        display: flex;
        align-self: flex-end;
        width: 100%;
        float: bottom;
        height: 50px;
    }
    #K {
        border-bottom: none;
    }
    li {
        height: 89px;
        border-bottom: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        cursor: move;
        background: white;
        font-size: 14px;
    }
    #position-list {
        margin-top: 20px;
        padding: 0px;
        width: 13%;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        border: solid 1px #ccc;
        min-height: 60px;
        height: auto;
        border-radius: 4px;
        background: white;
        overflow: hidden;
        display: block;
        list-style-type: none;
    }
    #player-list {
        width: 100%;
    }
    .player1-list {
        border: solid 1px #ccc;
        min-height: 500px;
        margin: 20px 0 0 0;
        border-radius: 4px;
        overflow: visible;
        display: block;
        height: auto;
        width: 87%;
        background-image: linear-gradient(180deg, #98CD8D 25%, #F6F0CF 25%, #F6F0CF 50%, #98CD8D 50%, #98CD8D 75%, #F6F0CF 75%, #F6F0CF 100%);
        background-size: 356.00px 356.00px;
    }
    #container {
        display: flex;
        flex-wrap: wrap;
    }
    .player-container {
        width: auto;
        height: 465px;
        display: inline-block;
        vertical-align: top;
    }
    #FLEX {
        margin-left: -12px;
    }
    .example-list {
        border: solid 1px #ccc;
        min-height: 60px;
        background: white;
        border-radius: 4px;
        display: block;
        height: auto;
        width: 100%;
        justify-content: center;
    }
    .example-box {
        padding: 20px 10px;
        border-bottom: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        cursor: move;
        background: white;
        font-size: 14px;
    }
    #salary {
        width: 100%;
        justify-content: center;
        order: 4;
        align-self: flex-end;
    }
    #draft-button {
        order: 5;
        width: 100%;
        height: 50px;
        background-color: #8B0000;
        color: white;
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {
    #player2container,
    #player1container,
    #playerscontainer {
        display: flex;
        height: 600px;
    }
    #playerscontainer {
        margin-left: -40px;
        margin-right: -40px;
    }
    #salary {
        display: flex;
        align-self: flex-end;
        width: 30px;
        float: bottom;
        height: 50px;
        margin-left: -30px;
    }
    #flex {
        margin-left: -7px;
    }
    #K {
        border-bottom: none;
    }
    li {
        padding: 20px 10px;
        height: 89px;
        border-bottom: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        cursor: move;
        background: white;
        font-size: 14px;
    }
    #position-list {
        margin-top: 68px;
        padding: 0px;
        width: 40px;
        border: solid 1px #ccc;
        min-height: 60px;
        height: 700px;
        border-radius: 4px;
        background: white;
        overflow: hidden;
        display: block;
        list-style-type: none;
    }
    .player1-list {
        border: solid 1px #ccc;
        min-height: 500px;
        background: white;
        border-radius: 4px;
        overflow: visible;
        display: block;
        height: 700px;
        width: 300px;
        background-image: linear-gradient(180deg, #98CD8D 25%, #F6F0CF 25%, #F6F0CF 50%, #98CD8D 50%, #98CD8D 75%, #F6F0CF 75%, #F6F0CF 100%);
        background-size: 356.00px 356.00px;
    }
    #container {
        display: flex;
        width: 100%;
    }
    .player-container {
        width: 400px;
        height: 465px;
        display: inline-block;
        vertical-align: top;
    }
    .example-list {
        border: solid 1px #ccc;
        min-height: 60px;
        background: white;
        border-radius: 4px;
        overflow: hidden;
        display: block;
        height: 465px;
        width: 300px;
    }
    .example-box {
        padding: 20px 10px;
        border-bottom: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        cursor: move;
        background: white;
        font-size: 14px;
    }
}