<input [(ngModel)]="playerFirstName" type="text" />
<input [(ngModel)]="playerLastName" type="text" />

<button (click)="getData(playerFirstName, playerLastName)">
        click!
</button>

<p *ngFor="let p of playerCrimes">
    {{ p }}
</p>

<p>
    {{ playerCost }}
</p>


<div cdkDropListGroup>
    <div class="player-container">
        <h2>Player 1</h2>

        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="player1" [cdkDropListConnectedTo]="[playersList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of player1" cdkDrag>{{item}}</div>
        </div>
    </div>

    <div class="player-container">
        <h2>Players</h2>

        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="players" [cdkDropListConnectedTo]="[player1List, player2list]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of players" cdkDrag>{{item}}</div>
        </div>
    </div>

    <div class="player-container">
        <h2>Player 2</h2>

        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="player2" [cdkDropListConnectedTo]="[playersList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of player2" cdkDrag>{{item}}</div>
        </div>
    </div>
    <div cdkDropList *ngFor="let list of lists"></div>
</div>