<div class="lander-container">
    <div class="mat-display-2">Foul Play</div>
    <div class="start-container mat-app-background">
        <ul>
            <h4 class="mat-h2">Game Instructions</h4>
            <li class="mat-body">Win the game</li>
            <li class="mat-body">Score more than the other guy</li>
            <li class="mat-body">Drink a beer!</li>
        </ul>
        <button class="landing-btn" routerLink="/home" (click)="fillInOffenseData()">START</button>
    </div>
</div>
