<div class="lander-container">
    <div class="mat-display-2"><img src="assets/logo.png" height="350px" width="350px"></div>
    <div class="start-container mat-app-background">
        <ul>
            <li class="mat-h2">Game Instructions</li>
            <li class="mat-body">Take turns drafting until you have a full fantasy team. The goal is to pick the best player, but watch out, his prior offenses might have added to his cost!</li>
            <li class="mat-body">Click "Draft"</li>
            <li class="mat-body">Celebrate your win!</li>
        </ul>
        <div id="name-box-container">
            <input class = "name-boxes" type="text" [(ngModel)]="playerOneName" placeholder="Player One">
            <input class = "name-boxes" type="text" [(ngModel)]="playerTwoName" placeholder="Player Two" (keyup.enter)="fillInOffenseData()">
        </div>
        <button class="landing-btn" routerLink="/home" (click)="fillInOffenseData()" (click)="setNames()">START</button>
    </div>
</div>