/* You can add global styles to this file, and also import other style files */
 @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; 

 html, body {
     height: 100%;
     width: 100%;
     margin: 0;
 }

 body {
    background: url(/assets/background_img_5.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }

 @font-face {
    font-family: 'Sporter';
    src: url(/assets/Sporter.ttf);
}

@font-face {
    font-family: 'CurrencyRegular';
    src: url(/assets/StripesCaps.ttf);
}

@font-face {
    font-family: 'Code_Pro_Light';
    src: url('/assets/Code_Pro_Light_Demo-webfont.woff2') format('woff2'),
         url('/assets/Code_Pro_Light_Demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Code_Pro';
    src: url('/assets/Code_Pro_Demo-webfont.woff2') format('woff2'),
         url('/assets/Code_Pro_Demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}